<h1>Editing friend</h1>

<%= render "form", friend: @friend %>

<div class="d-flex mt-3">
    <div class="mx-1">
      <%= link_to "Edit", edit_friend_path(@friend), class:"btn btn-secondary mr-3" %>
    </div>
    <div class="mx-1">
      <%= link_to "Back to friends", friends_path, class:"btn btn-dark" %>
    </div>
</div>
